<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpCompression>
            <staticTypes>
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration> 